@{
    ViewData["Title"] = "Home Page";
}
<link rc-nonce rel="stylesheet" href='@Url.Content("~/css/rc-card.css")' asp-append-version="true" />

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Sample .net core 6 site c#</h1>
    <p class="lead">Site is built to learn, test, try new technologies and techniques. MVC with Web API back end. Based on clean architecture. </p>
   
  </div>
</div>
<p>
    <ul class="nav justify-content-center h5">
      <li class="nav-item">
        <a class="nav-link active" href="https://github.com/rcoady70/RC.Clean.Architecture">Git-hub link to project source</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://rc-ca-webapi.azurewebsites.net/swagger/index.html">Swagger API site</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="https://rc-ca-healthchecks.azurewebsites.net">Health checks site</a>
      </li>
    </ul>
</p>
 <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h5 class="my-0 fw-normal">Authentication</h5>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light">Core identity</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Web app <==> web api</li>
              <li>JWT token authentication</li>
              <li>MVC cookie auth using issued JWT token</li>
              <li>Customized user identity</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h5 class="my-0 fw-normal">Technology stack</h5>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light">.Net core mvc / web api</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>C# MVC / Razor</li>
              <li>Bootstrap / CSS / JQuery / Javascript</li>
              <li>Dependency Injection / Generics</li>
              <li>Code first / SQL Server / TSql / Encryption at rest</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h5 class="my-0 fw-normal">Design</h5>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light">Domain driven design</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Clean architecture</li>
              <li>Entity framework</li>
              <li>CQRS / repository /mediarR</li>
              <li>Responsive ui / Fluent validation</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h5 class="my-0 fw-normal">Security</h5>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light">OWASP</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>
              <li>CSP middleware - add csp header /report csp failures</li>
              <li>Security headers middleware auto add </li>
              <li>White list validation</li>
              <li>Logging Serilog / enriched logging </li>
              <li>Opt out - xcrf tokens and authentication  </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h5 class="my-0 fw-normal">Cloud</h5>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light">Azure</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>
              <li>Hosted in app service</li>
              <li>Blob/cdn storage for file upload</li>
              <li>Key vault</li>
              <li>Builds / deploy git hub actions</li>
              <li>Message bus (Send email / process imports)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
