@{
    ViewData["Title"] = "Home Page";
}

  <div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">Sample .net core 6 site c#</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Site is built to learn, test, try new technologies and techniques.  </p>
      <p class="lead mb-4">Site is made up of mvc site communicating with webapi site.</p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <a href="https://github.com/rcoady70/RC.Clean.Architecture">Git-hub link to project</a><br />
      <a href="https://rc-ca-webapi.azurewebsites.net/swagger/index.html">Swagger API site</a><br />
      <a href="https://rc-ca-healthchecks.azurewebsites.net">Health checks site</a>
    </div>
  </div>


  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Authentication</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light">Core identity</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Web app <==> web api</li>
              <li>JWT token authentication</li>
              <li>MVC cookie auth using issued JWT token</li>
              <li>Customized user identity</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Technology stack</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light">.Net core mvc / web api</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>C#</li>
              <li>MVC / Razor</li>
              <li>Bootstrap / JQuery / Javascript</li>
              <li>Code first / SQL Server</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Design</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light">Domain driven design</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Clean architecture</li>
              <li>Entity framework</li>
              <li>CQRS / repository /mediarR</li>
              <li>Responsive ui / Fluent validation</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Security</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light">OWASP</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>
              <li>CSP middleware - add csp header /report csp failures</li>
              <li>Security headers middleware auto add </li>
              <li>White list validation</li>
              <li>Logging Serilog / enriched logging </li>
              <li>Opt out - xcrf tokens and authentication  </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Hosting</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light">Azure</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>
              <li>Sites hosted in azure app service</li>
              <li>Azure blob/cdn storage for file upload</li>
              <li>Azure sql server database</li>
              <li>Automated builds git hub actions</li>
              <li>Automated deployments git hub actions</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
