<div style="text-align:left; center;margin: auto;padding: 4em;font-family: 'Courier New', monospace;">
   <h1>
      <span>@ViewBag.Status</span> <br />
   </h1>
   
    <h3>
      <code>There is an issue with the requested resource</code>
   </h3>
</div>