<div style="text-align:left; center;margin: auto;padding: 4em;font-family: 'Courier New', monospace;">
   <h1>
      Logout
   </h1>
   <h4>
      <code>You have been sucessfully logged out.</code>
   </h4>
</div>