@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Collates health check results from MVC site and API sites</h3>
    <a class="display-6 text-decoration-none" href="healthchecks-ui#/healthchecks">Site status</a>
</div>
