<div class="container-fluid">
    <div class="row head-border-bottom">
        <div class="col-12 ">
            <h3>Step 2 - map file</h3>
        </div>
    </div>
</div>
<h5>Map columns in your file to members properties</h5>
<div class="d-grid gap-2 d-md-block">
    <form method="get" asp-action="CsvFileStep1">
        <button id="btnNext" class="btn btn-outline-success btn-block float-start" asp-action="CsvFileStep1" asp-route-Id="1" data-spinning-button type="submit">Previous</button>
    </form>
    <button id="btnNext" class="btn btn-outline-success btn-block float-end" asp-action="CsvFileStep1" asp-route-Id="1" data-spinning-button type="submit">Next</button>
</div>