@using RC.CA.Application.Contracts.Identity
@using RC.CA.Application.Features.Cdn.Queries
@using RC.CA.SharedKernel.WebHelpers
@model UpsertCsvMapRequest
@inject JavaScriptEncoder javaScriptEncoder;
@inject IAppContextX appContextX;
@{
    ViewData["Title"] = "Import csv file";
    var requestUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}"; 
    var apiEndpoint = $"https://{appContextX.ApiEndpoint}/api/cdn/Image/Upload"; 
}
<form method="get" asp-action="CsvFileStep2">
<input asp-for="Id" class="form-control d-none" />
    <div class="container-fluid">
        <div class="row head-border-bottom">
            <div class="col-12 ">
                <h3>Step 1 - import list of contacts</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-2">
        <div id="dropSection" class="row upload-container" data-apiurl="@appContextX.ApiEndpoint">
            <div id="uploadedFiles" class="d-flex flex-row"></div>
            <i class="fa fa-cloud fa-xl text-center upload-ico"></i>
        </div>
    </div>
    <h5>File uploaded to azure blob storage. Queue item added to azure bus, processed by .net core worker service</h5>
    <div class="d-grid gap-2 d-md-block">
        <a id="btnClose" class="btn btn-outline-success btn-block float-start" asp-action="list" asp-route-Id="" data-spinning-button type="submit">Close</a>
        <button id="btnNext" class="btn btn-outline-success btn-block float-end" asp-action="CsvFileStep2" asp-route-Id="" data-spinning-button type="submit">Next</button>
    </div>
</form>
@section Scripts
{
  <script rc-nonce src="@Url.Content("~/js/rc.csvFileUpload.js")"></script>
}